@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import './base.css'; */

:root{
    --main-font: 'Roboto';
    --bg-color: rgb(27, 23, 23);
    --primary-text-color: rgb(238, 235, 221);
    --secondary-color: rgb(238, 235, 221,0.4);
    --accent-color: #CE1212;
    --colored-graph : calc(${dataStore.imDbRating}*36)
}
/* -----Desktop----- */

*{
    box-sizing: border-box;
}
body{
    width:100%;
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    /* background-color: white; */
    color: var(--primary-text-color);
    font-family:var(--main-font);
    overflow-x: clip;
}